/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes moving-pointer {
    0% {
      transform: translateX(-22px);
    }
    100% {
      transform: translateX(-18px);
    }
  }
  
  @keyframes scaling-heart {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  
  @keyframes sparks-visualisation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes beating-heart {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.2);
      }
    80% {
          transform: scale(1.5);
      }
  }
  
  .card__icon-button .sparks {
    opacity: 0;
  }
  
  .card__icon-button .main-body {
    opacity: 0;
    fill: var(--accent-color, #00CC14);
    transition: opacity .3s linear;
  }
  
  .card__icon-button .core {
    opacity: 0;
    fill: var(--accent-color, #00CC14);
    transition: opacity .3s .03s linear;
  }
  
  .card__icon-button:hover .core {
    opacity: 1;
    transition: opacity .3s linear;
  }
  
  .card__icon-button:hover .main-body {
    opacity: 1;
    transition: opacity .3s .05s linear;
  }
  
  .card__icon-button:active .core {
    fill: var(--heart-liked-color, red);
    transition: fill .3s linear;
  }
  
  .card__icon-button:active .main-body {
    fill: var(--heart-liked-color, red);
    transition: fill .3s .05s linear;
  }
  
  .like-icon.is-liked .core {
    opacity: 1;
    fill: var(--heart-liked-color, red);
    transition: fill .3s linear;
  }
  
  .like-icon.is-liked .main-body {
    opacity: 1;
    fill: var(--heart-liked-color, red);
    transition: fill .3s .05s linear;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--heart-liked-color, red);
    transition: fill .3s .06s linear;
  }
  
  .like-icon.is-liked .heart {
    transform-origin: 50% 50%;
    animation: scaling-heart .3s .1s alternate ease-in;
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks-visualisation .3s .3s alternate ease-in;
  }
  
  .card__icon-button .contour {
    transition: fill .1s linear;
  }